<app-menu></app-menu>
    <div>
        <table class="table table-sm">       
                <tr>
                    <th>Id</th>
                    <td>{{request.id}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{request.description}}</td>
                </tr>
                <tr>
                    <th>Justification</th>
                    <td>{{request.justification}}</td>
                </tr>
                <tr>
                    <th>RejectionReason</th>
                    <td>{{request.rejectionReason}}</td>
                </tr>
                <tr>
                    <th>DeliveryMode</th>
                    <td>{{request.deliveryMode}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{request.status}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{request.total}}</td>
                </tr>
                <tr>
                    <th>UserId</th>
                    <td>{{request.userId}}</td>
                </tr>             
        </table>  
    </div>

