<app-menu></app-menu>
<div id="component">
    <div id="component-header">
        <a routerLink="/user/create">Create</a>
        | <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    </div>
    <div id="component-content">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th><button (click)="sortFn('id')" class="btn btn-link">Id</button></th>
                    <th><button (click)="sortFn('lastname')" class="btn btn-link">Lastname</button></th>  
                    <th>Phone</th>
                    <th>Email</th>
                    <th>IsReviewer</th>
                    <th>IsAdmin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.id}}</td>
                    <td>{{u.lastname}}</td>
                    <td>{{u.phone}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.isreviewer}}</td>
                    <td>{{u.isadmin}}</td>
                    <td>
                        <span>
                            <a routerLink="/user/detail/{{u.id}}">Detail</a>
                        </span>
                        <span> | </span>
                        <span>
                            <a routerLink="/user/edit/{{u.id}}">Edit</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
